#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-game {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

#ui {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/brick.png");
}

#score {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px 25px;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
}

#ui > div[id] {
  width: 100%;
  height: 100%;
}

#main-menu, #death-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-menu button {
  min-width: 200px;
  margin: 10px 0;
}

#main-menu img, #death-menu img {
  filter: drop-shadow(0 6px 0px rgb(99, 21, 21));
  margin-bottom: 50px;
}

#death-menu h2 {
  margin: 0 0 20px;
  text-shadow: 0 3px 8px rgba(0,0,0,0.6);
}